
@model SchemaTableEditModel

@{
    ViewBag.Title = "EditTable";
}

<h2>Таблица:  @Model.EditedObjectName</h2>


<table>
    <tr>
        <td>
            Имя таблицы 226
        </td>
        <td>
            @Html.xInput(_ =>
               {
                   _.Text_Bind = "Table.Name";
                   _.Label = "Имя таблицы";
                   _.Height = 20;
                   _.Width = 400;

               })
        </td>
    </tr>
    <tr>
        <td>
            Примечание
        </td>
        <td>
            @Html.xInput(settings =>
            {
                settings.Text_Bind = "Table.Description";
                settings.Label = "Примечание";
                settings.Height = 30;
                settings.Width = 600;
            })
        </td>
    </tr>
</table>


<br>
@Html.xButton(settings =>
{
    settings.Disabled_Bind = nameof(Model.SaveButtonDisabled);
    settings.Text = "Сохранить";
})
<br>

@Html.xButton(settings =>
{
    settings.OnClick_Bind = nameof(Model.Test1ButtonClick);
    settings.Text = "Test1";
})
<br>
@Html.xButton(settings =>
{
    settings.OnClick_Bind = nameof(Model.EditFirstColumnButtonClick);
    settings.Text = "Редактировать первую колонку";
})
<br>
<br>
@Html.xGrid(grid =>
{
    grid.Width = 700;
    grid.Height = 400;

    grid.DataSource_Bind = nameof(Model.Table)+"."+ nameof(Model.Table.Columns);

    grid.AddColumn(c => {
        c.Caption = "Имя";
        c.Field_Bind = "Name";
    });

    grid.AddColumn(c =>
    {
        c.Caption = "Название";
        c.Field_Bind = nameof(SchemaTableColumn.Description);
    });

    grid.AddColumn(c =>
    {
        c.Caption = "Позиция";
        c.Field_Bind = nameof(SchemaTableColumn.Position);
        c.DataType = GridColumnDataType.Number;
    });

})
<br>

@section scripts {
}

