@model SchemaTableColumnEditModel

    @{
        ViewBag.Title = "Home Page";
    }

    <div class="navbar navbar-inverse1 .navbar-static-top navbar-fixed-top1">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Роли", "RolesTreeGrid", "BuhtaSchemaDesigner")</li>
                    <li>@Html.ActionLink("Схема", "Index", "BuhtaSchemaDesigner")</li>
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("GRID-SYSTEM", "Chat", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    <li>@Html.ActionLink("EditTable", "EditTable", "Home")</li>
                    <li><a href="@Url.Action("EditTable", "Home")" target="_blank">Таблица</a></li>
                    <li><a href="#" id="111">OpenWin</a></li>
                    <script>
                        $(document).ready(function () {
                            $("#111").on('click', function () {
                                //alert('cli');
                                var newWin = window.open(
                                    "",
                                   //"http://javascript.ru",
                                   "111blank"//,
                                   //"top=300,left=500,width=220,height=530,resizable=no,scrollbars=yes,status=no,location=no,menubar=no,directories=no"
                                )
                                newWin.oldHub = "11";
                                //newWin.location.href = "Home/EditTable";
                                //newWin.document.bindingHub = bindingHub;
                                //newWin.bindingHub = bindingHub;
                                //window.onload(function () { newWin.bindingHub = bindingHub; });
                                //newWin.document. write("<p>This is 'MsgWindow'. I am 200px wide and 100px tall!</p><script>alert('w')<"+"/script>");
                                newWin.focus()
                            });
                        });
                    </script>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>