@model SchemaTableColumnAddModel

<div class="modal" data-width="1000" tabindex="-1" role="dialog">
    @*<div class="modal-dialog">
        <div class="modal-content">*@
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Добавление колонки</h4>
    </div>
    <div class="modal-body">
        <form role="form" class="form-horizontal">
            <div class="row">

                @Html.bsInput(tag =>
           {
               tag.Bind_Value_To_String(nameof(Model.Column) + "." + nameof(Model.Column.Name));
               tag.Label = "Имя колонки";
               tag.AddStyle("max-width", "400px");
           })

                @Html.bsInput(tag =>
           {
               tag.Bind_Value_To_String(nameof(Model.Column) + "." + nameof(Model.Column.Description));
               tag.Label = "Описание";
               //s.AddStyle("max-width", "400px");
           })

                @Html.bsInput(tag =>
           {
               tag.Type = bsInputType.List;
               tag.Bind_Value_To_RolesList(nameof(Model.Column) + "." + nameof(Model.Column.ColumnRoles), new Колонка_ColumnRole());
               tag.Label = "Роли";
           })

                @Html.bsSelect(tag =>
           {
               //tag.Bind_Value(Model.Column) + "." + nameof(Model.Column.ColumnRoles), new Колонка_ColumnRole());
               tag.Label = "Тип данных";
           })




            </div>
        </form>

    </div>
    <div class="modal-footer">
        @Html.bsButton(button =>
   {
       button.Text = "Добавить колонку";
       button.ButtonStyle = bsButtonStyle.Success;
       button.Bind_OnClick(Model.SaveButtonClick);
   })
        @Html.bsButton(button =>
   {
       button.Text = "Отмена";
       button.ButtonStyle = bsButtonStyle.Default;
       button.Bind_OnClick(Model.CancelButtonClick);
   })

    </div>
</div>