@model SchemaTableColumnEditModel
<div class="modal modal-edit-form" data-width="1000" tabindex="-1" role="dialog">
    @*<div class="modal-dialog">
        <div class="modal-content">*@
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Редактирование колонки в таблице "@Model.Column.Table.Name"</h4>
    </div>
    <div class="modal-body">
        <form role="form" class="form-horizontal">
            <div class="row">
                @Html.bsInput(tag =>
           {
               tag.Bind_Value<string>(nameof(Model.Column) + "." + nameof(Model.Column.Name));
               tag.Label = "Имя колонки";
               tag.Bind_Validator(Model.Column.Validate_Name);
               tag.MaxWidth = 400;
           })
                @Html.bsInput(tag =>
           {
               tag.Bind_Value<string>(nameof(Model.Column) + "." + nameof(Model.Column.Description));
               tag.Label = "Описание";
           })
                @Html.bsInput(tag =>
           {
               tag.Type = bsInputType.List;
               tag.Bind_Value_To_RolesList(nameof(Model.Column) + "." + nameof(Model.Column.ColumnRoles), new Колонка_ColumnRole());
               tag.Label = "Роли";
               tag.Bind_Validator(Model.Column.Validate_Roles);
           })

                @Model.GetColumnDataTypeInputsHtml()



                @Html.bsInput(tag =>
           {
               //s.Type = bsInputType.Checkbox;
               tag.Bind_Value<bool>(nameof(Model.Column) + "." + nameof(Model.Column.IsNotNullable));
               tag.Label = "Обязательное (NOT NULL)";
           })


            </div>
        </form>
    </div>
    <div class="modal-footer">
        @Html.bsButton(button =>
   {
       button.Text = "Сохранить";
       button.ButtonStyle = bsButtonStyle.Primary;
       button.Bind_Disabled(() => !Model.GetNeedSave());
       button.Bind_OnClick(Model.SaveButtonClick);
   })
        @Html.bsButton(button =>
   {
       button.Text = "Отмена";
       button.AddClass("modal-cancel-button");
       button.ButtonStyle = bsButtonStyle.Default;
       button.Bind_OnClick(Model.CancelButtonClick);
   })
    </div>
    @*</div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->*@
</div><!-- /.modal -->